### C code
useDynLib(actuar, .registration = TRUE)

### Functions
export(## Credibility theory
       bstraub, rearrangepf, simpf,
       ## Risk theory
       panjer,
       ## One parameter distributions
       dinvexp, rinvexp,
       ## Two parameter distributions
       dllogis, pllogis, qllogis, rllogis,
       dparalogis, pparalogis, qparalogis, rparalogis,
       dinvparalogis, rinvparalogis,
       dpareto, ppareto, qpareto, rpareto,
       dpareto2, ppareto2, qpareto2, rpareto2, # aliases
       dinvpareto, rinvpareto,
       dpareto1, ppareto1, qpareto1, rpareto1,
       dinvweibull, rinvweibull,
       dlgompertz, rlgompertz,          # aliases
       ## Three parameter distributions
       dburr, pburr, qburr, rburr,
       dinvburr, rinvburr,
       dgenpareto, pgenpareto, qgenpareto, rgenpareto,
       ## Four parameter distributions
       dtrbeta, ptrbeta, qtrbeta, rtrbeta,
       dpearson4, ppearson4, qpearson4, rpearson4 #aliases
       )

### Methods
S3method(print, bstraub)
S3method(summary, bstraub)
S3method(print, summary.bstraub)
